In [5]:
# keys of dictionsry always immutable but dictionaries are mutable
# creating dictionary
# 1.
emp1=dict(name='John',age=24,salary=25000)
print(emp1)
# 2
emp2={'name':'Jiya','age':24,'salary':26000}
print(emp2)

# 3
emp3=dict(zip(('name','age','salary'),('Jenny',25,27000)))
print(emp3)

{'name': 'John', 'age': 24, 'salary': 25000}
{'name': 'Jiya', 'age': 24, 'salary': 26000}
{'name': 'Jenny', 'age': 25, 'salary': 27000}

In [6]:
# adding elements to a dictionary
emp1['dept']="sales"
print(emp1)

{'name': 'John', 'age': 24, 'salary': 25000, 'dept': 'sales'}

In [7]:
emp1['age']=26
print(emp1)

{'name': 'John', 'age': 26, 'salary': 25000, 'dept': 'sales'}

In [8]:
del emp1["age"]
print(emp1)

{'name': 'John', 'salary': 25000, 'dept': 'sales'}

In [9]:
emp2.pop("age")

24

In [10]:
"John" in emp1

False

In [11]:
"name" in emp1

True

In [13]:
emp2.clear()
print(emp2)

{}

In [14]:
emp1.get('dept')

'sales'

In [18]:
l=emp1.items()
for i in l:
    print(i)

('name', 'John')
('salary', 25000)
('dept', 'sales')

In [24]:
k=emp1.keys()
print(k)

v=emp1.values()
print(v)


emp4={'abc':"shinchan",'father':"sam",'Mother':"sanya"}
emp1.update(emp4)
print(emp1)

dict_keys(['name', 'salary', 'dept'])
dict_values(['John', 25000, 'sales'])
{'name': 'John', 'salary': 25000, 'dept': 'sales', 'abc': 'shinchan', 'father': 'sam', 'Mother': 'sanya'}